.topHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.Button {
  display: flex;
}
.prevButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  cursor: pointer;
}
.SliderDiv {
  margin: 0 0px;
  padding: 20px 72px 40px 72px;
  border: 1px solid red;
  box-sizing: border-box;
}
.slick-list {
  margin: 0 0px;
}

.slick-slide {
  margin: 0px 0px;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  max-width: 298px;
  max-height: 320px;
  /* border: 2px solid black; */
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.slick-slide.slick-active {
  opacity: 1;
  transition-delay: 0.3s;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}
.AdvisorCard {
  width: 268px;
  height: 320px;
  margin: 0 20px 0 0;
  border: 1px solid red;
  border-radius: 10px;
  box-sizing: border-box;
}
.AdvisorIMG {
  width: 268px;
  height: 182px;
  border-radius: 10px;
}
.c111 {
  min-width: 288px;
}
.OuterBox {
  padding: 0 72px;
  border: 1px solid red;
}
